// border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


// media queries
@mixin mobile-md {
  @media (max-width: #{$tablet-min-breakpoint - 1+"px"}) {
    @content;
  }
}

@mixin tablet-md {
  @media (min-width: #{$tablet-min-breakpoint+"px"}) {
    @content;
  }
}

@mixin desktop-md {
  @media (min-width: #{$desktop-min-breakpoint+"px"}) {
    @content;
  }
}

@mixin largeDesktop-md {
  @media (min-width: #{$large-desktop-min-breakpoint+"px"}) {
    @content;
  }
}