
//colors
$main-white-color:  #f3f3f3;
$secondary-white-color: #ffffff;
$main-black-color: #464646;
$main-highlight-color:#ff6166;
$main-darken-highlight-color: #c0494b;



//queries
$tablet-min-breakpoint:768;
$desktop-min-breakpoint:1024;
$large-desktop-min-breakpoint:1280;

// font-size
$page-title-mobile-font-size:30px;
$page-title-tablet-font-size:50px;
$page-title-desktop-font-size:60px;
$page-title-large-desktop-font-size:60px;

$title-mobile-font-size:48px;
$title-tablet-font-size:60px;
$title-desktop-font-size:60px;
$title-large-desktop-font-size:60px;

$default-mobile-font-size:16px;
$default-tablet-font-size:18px;
$default-desktop-font-size:18px;
$default-large-desktop-font-size:18px;

$quote-mobile-font-size:18px;
$quote-tablet-font-size:24px;
$quote-desktop-font-size:24px;
$quote-large-desktop-font-size:24px;

$button-mobile-font-size:16px;
$button-tablet-font-size:16px;
$button-desktop-font-size:16px;
$button-large-desktop-font-size:16px;

$subtitle-mobile-font-size:20px;
$subtitle-tablet-font-size:40px;
$subtitle-desktop-font-size:50px;
$subtitle-large-desktop-font-size:50px;

$small-mobile-font-size:12px;
$small-tablet-font-size:12px;
$small-desktop-font-size:12px;
$small-large-desktop-font-size:12px;

//